<launch>

<node pkg="nodelet" type="nodelet" name="image_proc" args="load apriltags_nodelet/AprilNodelet camera_nodelet_manager">
<param name="default_tag_size" value="0.05" />

    <param name="viewer" value="false" />
    <param name="publish_detections_image" value="false" />

    <param name="display_type" value="CUBE" />
    <param name="marker_thickness" value="0.02" />

    <rosparam param="tag_data">
      "0":
        size: 0.05
      "1":
        size: 0.050
      "2":
        size: 0.0500
      "3":
        size: 0.0500
    </rosparam>

    <remap from="image" to="/camera/color/image_rect"/>
    <remap from="camera_info" to="/camera/color/camera_info"/>
    <remap from="marker_array" to="/apriltags/marker_array"/>
    <remap from="detections" to="/apriltags/detections"/>

</node>

<node ns="apriltags" pkg="april_planner" type="april_planner" name="visual_planning" output="screen">
  <!--<remap from="detections" to="/apriltags/detections" />-->
  <remap from="cmd_vel" to="/mobile_base/commands/velocity" />
</node>

<node ns="apriltags" pkg="april_tf" type="april_tf" name="april_tf_broadcaster" output="screen">
  <remap from="detections" to="/apriltags/detections" />
</node>

</launch>
